h1{
font-size: 30px;
text-align: center;
color: #17202A
}

p{
font-size: 20px;
text-align: left;
font-family: Arial, sans-serif;
}

body {
background-color: ##FDFEFE;
}

h2{
font-size: 30px;
text-align: center;
color: #17202A
}